*.class
*.jar
*.iml
.idea/
*.ipr
*.iws
.gradle
build/
classes/
target/
.shelf
results/
entitlements-manager-nft/nft-dependencies/*.csv.*
entitlements-manager-nft/docker-jmeter
Gemfile.lock
/APP_LOG_FILE_IS_UNDEFINED
cassandra.logdir*/
entitlements-manager/audit/
.DS_Store
out/
*.log
entitlements-manager/cd-scripts/cdCommon.sh
**/shared-scripts/
newcerts
/entitlements-manager/cd-scripts/shared-scripts/
.java-version
integration-tests/downloads/*
**/cucumber-reports
